.artpost_card {
   display: flex;
   flex-direction: column;
   align-items: center;
   border: 1px solid black;
   margin: 10px 0;
   padding: 10px 0;
}

.artpost_content {
    text-align: center;
}

.art_image {
    width: 300px;
    height: auto;
    background-origin: transparent;
  }
