.all_posts {
    display: flex;
    flex-direction: row;
    margin: 30px 15px;
    gap: 25px;
}

.home_posts{
    background-color: #f8f9fa;
    box-shadow: 15px 5px 10px 2px #e1e1e2;
    border-radius: 12px;
    height: fit-content;
    width: fit-content;
    margin: 0 40px;
    padding: 15px;
}

.home_artposts{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    flex-grow: 1;
    
    background-color: #f8f9fa;
    box-shadow: 15px 5px 10px 2px #e1e1e2;    
    
    border-radius: 12px;
    width: fit-content;
    width: 400px;
    gap: 25px;
    padding: 10px;
}

.art_feed_title {
    display: block;
    width: 100%;
}