.grid {
    display: flex;
    flex-direction: row;
    margin: 15px;
    gap: 25px;
}

.user {
    min-width: 400px;
    background-color: #f8f9fa;
    box-shadow: 15px 5px 10px 2px #e1e1e2;
    border-radius: 12px;
    height: fit-content;
    padding: 10px;   
    margin-top: 56px;
}

.user_info img {
    width: 50px;
    margin-bottom: 10px;
}

.button_group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 10px;
}

Button {
    gap: 5px;
}
button {
    gap: 5px;
}

.user_posts {
    background-color: #f8f9fa;
    box-shadow: 15px 5px 10px 2px #e1e1e2;  
    border-radius: 12px;  
    height: fit-content;
    padding: 10px
}

.user_artposts {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    flex-grow: 1;
    
    background-color: #f8f9fa;
    box-shadow: 15px 5px 10px 2px #e1e1e2;
    border-radius: 12px;
    width: fit-content;
    padding: 10px;
    gap: 50px;
}