.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
    /* padding: -1rem;  */
    border-bottom: 1px solid #e6e6e6;
    height: 50px;
  }
  
  .logotype {
    height: 90px;
    width: 100px;
    margin-right: 1rem;
    display: flex;
  }

  .logotype2 {
    height: 90px;
    margin-right: 1rem;
    padding-top: 15px ;
  }
  
  .title_link {
    text-decoration: none;
  }
  
  .buttons {
    display: flex;
    align-items: center;
    padding-right: 1rem;
    justify-content: space-between;
  }

  .buttons .signUp {
    margin-right: 8px; 
  }
  
  .right_buttons {
    display: flex;
    align-items: center;
  }
  
  .dropdown .dropdown-menu {
    min-width: auto;
  }
  
  .dropdown .dropdown-menu a {
    color: #333;
  }
  
  .dropdown .dropdown-menu a:hover {
    color: #007bff;
    text-decoration: none;
  }
  
  button {
    margin-right: 5px;
  }
  
  button:last-child {
    margin-right: 0;
  }
  
  .buttons .newPost {
    margin-right: 8px; 
  }