.title {
    margin: 0;
    color: white;
    align-self: center;
}

.title:hover {
    color: wheat;
    font-size: 2rem;
}

.title_link {
    text-decoration: none;
}

.title, .buttons {
    padding: 15px;
}

.buttons button{
    margin: 0 2.5px;
}

.logotype img {
    width: 50px;
    height: 50px;
}

.navbar {
    background-color: #116efd;
    height: 56px;
    display: flex;
    
    justify-content: space-between;
}

.right_buttons {
    display: flex;
    flex-direction: row;
}
