.main_container {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment_input_flexbox {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 5px;
}

.comment_title {
    font-size: 1.25rem;
}

.input_box {
    width: 400px;
    height: 60px;
    background-color: whitesmoke;
}

.comment_container {
    width: 400px;
    height: 60px;
    background-color: whitesmoke;
    border-radius: 10px;
    word-break: break-all;
    margin-top: 12px;
    padding: 10px 15px;
    border: 0.5px dashed grey;
}