.post_card {
    display: flex;
    flex-direction: row;
}

.post_card_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: whitesmoke;
    box-shadow: 5px 2px 10px 2px #a8a9aa;
    border-radius: 15px;

    margin: 45px 0;
    padding: 10px 0;
    width: 400px;
}

.post_card:hover {
    transform: scale(105%);
}

.post_image {
    width: 300px;
    height: auto;
}

.post_content {
    text-align: center;
}

.post_details_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 30px;
}

.post_form {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    width: fit-content;
  }

.button_group {
    display: flex;
    flex-direction: row;
    gap: 35px;    
    margin-top: 10px;
}

.newpost_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 150px;
}

.post_and_comment {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.update_form_outside {
    margin-top: 50px;
}