.SignupPage {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .SignupPage h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .SignupPage p {
    text-align: center;
    margin-top: 20px;
  }
  
  .SignupPage p a {
    color: #007bff;
  }
  
  .SignupPage p a:hover {
    text-decoration: none;
    color: #0056b3;
  }

  .home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .artpost-card {
    width: 80%;
    margin-bottom: 1.5rem;
    position: relative;
  }
  
  .artpost-info {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1rem;
    text-align: left;
  }
  
.userPage-grid {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.userPage-posts {
  border: 2px solid blue;
  height: fit-content;
  padding: 10px
}

.userPage-artposts {
  border: 2px solid darkblue;
  width: 60ch;
  padding: 10px
}

.userPage-info {
  border: 2px solid lightblue;
  height: fit-content;
  padding: 10px
}

.home-news{
  /* border: 2px solid red; */
  margin: 25px;
  display: flex;
  justify-content: center;
}

.home-news img {
  width: 500px;
  height: auto;
}

.posts-artposts {
  padding-top: 50px;
  display: flex;
  justify-content: space-evenly;
  border: 2px solid black;
}

.home-posts{
border: 2px solid green;
height: fit-content;
width: 400px;
padding: 15px;
}

.home-artposts{
border: 2px solid yellowgreen;
width: fit-content;
max-width: 600px;

padding: 15px;
}

h4{
  padding-bottom: 10px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25vh;
}

/* 400px */

.d-block {
  height: 300px;
}

.carousel-image-custom {
  height: 550px; /* Adjust this value to the desired height */
  object-fit: fill;
}
.art-image {
  width: 200px;
  max-width: 400px;
  height: auto;
  max-height: 400px;
  background-origin: transparent;
}

.artpost_card_link, .post_card_link {
  text-decoration: none;
  color: black;
}

.artpost_card_link:hover, .post_card_link:hover {
  color: lightsalmon
}

.artpost_card {
  border: 2px solid pink;
  display: flex;
  flex-direction: row;
  margin: 10px 0 ;
}
